.containerButtons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .containerButtons {
        grid-template-columns: 100%;
        grid-gap: 0px;
    }
}

.containerButtons__button {
    font-size: large;
    color: hsl(180, 100%, 25%);
    border: none;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width: 767px) {
    .containerButtons__button {
        margin: 10px;
    }
}

.containerButtons__button:hover {
    color: hsl(180, 100%, 35%);
}

.containerButtons__button:active {
    color: hsl(180, 100%, 45%);
}

.containerButtons__button:disabled {
    color: grey;
}